body{
  background:#f4f6f8;
  font-family:Arial, sans-serif;
  margin:0;
  padding:20px;
  color:#222;
}

/* Title */

h1{
  text-align:center;
  margin-bottom:20px;
  color:#333;
}

/* Form */

.form-box{
  max-width:400px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

input, textarea{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
}

button{
  width
  /* PROFILE PHOTO */

.profile-pic{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:50%;
  display:block;
  margin:0 auto 15px;
  border:2px solid #007bff;
}:100%;
  padding:12px;
  background:#007bff;
  color:white;
  border:none;
  border-radius:5px;
  font-size:15px;
  cursor:pointer;
  margin-top:10px;
}

button:hover{
  background:#0056cc;
}

/* Result */

#result{
  max-width:400px;
  margin:30px auto;
  background:white;
  padding:20px;
  border-radius:8px;
  box-shadow:0 2px 10px rgba(0,0,0,0.1);
  display:none;
}

/* Portfolio Card */

.portfolio-card h2{
  margin:0;
}

.portfolio-card h3{
  margin:5px 0 15px;
  color:#555;
}

.portfolio-card ul{
  padding-left:20px;
}

.portfolio-card li{
  margin-bottom:5px;
}

.email{
  margin-top:15px;
  font-size:14px;
  color:#444;
}
/* PROFILE PHOTO */

.profile-pic{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:50%;
  display:block;
  margin:0 auto 15px;
  border:2px solid #007bff;
}